@model BankProject.Models.User
@{
    ViewData["Title"] = "Профіль";
    var contacts = ViewData["Contacts"] as List<BankProject.Models.Contact>;
}

<h2>Вітаємо, @Model.Name @Model.Surname!</h2>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Ваші дані</h5>
        <p><strong>Номер картки:</strong> @Model.Card.CardNumber</p>
        <p><strong>CVV код:</strong> @Model.Card.CVV</p>
        <p><strong>Поточний баланс:</strong> @Model.Card.Balance.ToString("C")</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Телефон:</strong> @Model.Phone</p>
    </div>
</div>

<a asp-action="Transfer" class="btn btn-success mb-3">Переказ коштів</a>
<a asp-controller="Contacts" asp-action="Index" class="btn btn-success mb-3"> Контакти</a>
<a asp-controller="Account" asp-action="Logout" class="btn btn-warning mb-3">Вийти</a>

